.http-error-item {
  position: relative;
  overflow: hidden;
  margin: 5px 0;

  &>b {
    position: absolute;
    left: 0;
  }

  &>span {
    float: left;
    margin-left: 80px;
    max-height: 300px;
    overflow: auto;
    word-break: break-all;
  }
}
