.login-form-input {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  transition: border-color, box-shadow .2s linear;

  &.active {
    border-color: lighten($theme-primary, 5%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px lighten($theme-primary, 5%);
  }

  &.invalid {
    border-color: $theme-error;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px lighten($theme-error, 5%);
  }

  .icon {
    float: left;
    width: 20px;
    height: 20px;
    margin: 13px 20px;
  }

  .login-form-input-container {
    flex: 1;
    display: flex;
    padding: 5px 20px 5px 0;
    overflow: hidden;

    input {
      width: 100%;
      // 解决chrome记住密码后填充时强制增加1px的border
      border: none !important;
      outline: none;
      font-size: 14px;
      line-height: 36px;
    }
  }

  .login-code {
    margin-left: auto;
    margin-right: -6px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 18px;
  }

  ::-webkit-input-placeholder {
    color: #858585;
  }

  :-moz-placeholder {
    color: #858585;
  }

  ::-moz-placeholder {
    color: #858585;
  }

  :-ms-input-placeholder {
    color: #858585;
  }

  // :-webkit-autofill {
  //   -webkit-text-fill-color: transparent !important;
  //   transition: background-color 5000s ease-in-out 0s;
  // }
}

.login-form-code {
  .code-img {
    float: right;
    margin-left: 15px;
    width: 130px;
    height: 48px;
    background: #ccc;
    cursor: pointer;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .login-form-input {
    overflow: hidden;
  }
}

.login-pub-code {
  padding: 6px;
  min-width: inherit;

  img {
    display: block;
    width: 150px;
    height: 150px;
  }
}
