.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &.icon-login-gongzhonghao {
    background-image: url('/assets/images/login/gongzhonghao@2x.png');
    width: 30px;
    height: 26px;
  }

  &.icon-login-zhanghao {
    background-image: url('/assets/images/login/zhanghao@2x.png');
    width: 20px;
    height: 20px;
  }

  &.icon-login-mima {
    background-image: url('/assets/images/login/mima@2x.png');
    width: 20px;
    height: 20px;
  }

  &.icon-login-yanzhengma {
    background-image: url('/assets/images/login/yanzhengma@2x.png');
    width: 20px;
    height: 20px;
  }
}
