  <form class="login-box-form" [formGroup]="loginForm">
    <div class="login-box-item">
      <app-login-form-input placeholder="请输入手机号" icon="icon-login-zhanghao" formControlName="mobile" [maxLength]="11"
        [invalid]="mobile.invalid && (mobile.dirty || mobile.touched)">
      </app-login-form-input>
    </div>
    <div class="login-box-item">
      <app-login-form-input #codeInput placeholder="请输入验证码" icon="icon-login-mima" formControlName="code" [maxLength]="4"
        [invalid]="code.invalid && (code.dirty || code.touched)">
        <vma-captcha slot="suffix" [disabled]="captchaDisabled" (clickEvt)="sendSMS()"></vma-captcha>
      </app-login-form-input>
    </div>
    <div class="login-box-item">
      <button nz-button nzType="primary" nzBlock class="login-box-btn" (click)="login()">登录</button>
      <ng-content select="[slot=footer]"></ng-content>
    </div>
  </form>
